@charset "utf-8";
/* CSS Document */


#content-area{
	
	
	width: 100%;
	
	
	
	
	}

input, textarea{
	
	width: 70%;
	margin-bottom: .75em;

	}
	
	

	
.form-button{
	
	width: 40%;
	font-size: 1.15em;
	font-weight: 400;
	background-color: gray;
	padding: .25em;
	color: #fff;
	text-align: center;
	border: 1px solid #DCDADA;
    border-radius: 0px;
    box-shadow: 2px 2px 2px #E1E1E1;
	
	
	
	}
	
	
	
		

.contact-block{
	
	padding: 2.5em;
	overflow: hidden;

	
	}
	
	
.contact-section{
	
	padding: .5em .5em;
	float: left;
	width: 25%;
	}	
		





.contact-title{
	
color: #666;
font-size: 1.25em;
padding-bottom: .5em;


	}


.contact-info p, .contact-info a{
	
	
	font-color: #666;
	font-size: 1.15em;
	line-height: .85em;
	
	}



a.mailto-body:hover{
	
	
	color: #6dcff6;
	text-decoration: none;
	
	}
	
	
a.mailto-body{
	
	
	color: #666;
	text-decoration: none;
	
	}
	
	
.contact-p{
	
	font-size: 1.65em;
	
	
	}	
	

.bold{
	
	font-weight: 700;
	
	}

	
.news-date{
	
	
	}
	
.news-title{
	
	
	}		
	
	
.news-story{
	
	
	
	}	
	
	
	
	
	
@media screen and (min-width: 560px){
	
	
	
.form-button{
	
	width: 10%;
	
	}
	
	
	
	
	
	
	}	
	
@media screen and (max-width: 641px){
		
		
		input, textarea{
	
	width: 100%;
	margin-bottom: .75em;

	}

		
		}
	
@media screen and (max-width: 830px){
		
		
	.contact-section{
	
	padding: .5em .5em;
	float: left;
	width: 100%;
	}
	
	.contact-title{
	
color: #666;
font-size: 2.5em;
padding-bottom: .5em;


	}


.contact-info p{
	
	
	font-color: #666;
	font-size: 1.5em;
	line-height: 1em;
	
	}	
		
		
		
		
		}