@charset "utf-8";
/* CSS Document */


#content-area{
	
	
	width: 100%;
	
	
	
	
	}

input, textarea{
	
	width: 100%;

	}
	
	

	
.form-button{
	
	width: 22%;
	font-size: 1.25em;
	font-weight: 400;
	background-color: gray;
	padding: .55em;
	color: #fff;
	text-align: center;
	border: 1px solid #DCDADA;
    border-radius: 0px;
    box-shadow: 2px 2px 2px #E1E1E1;
	
	
	
	}	

.contact-block{
	
	padding: 2.5em;
	overflow: hidden;

	
	}
	
	
.contact-section{
	
	padding: .5em .5em;
	float: left;
	width: 25%;
	}	
		





.contact-title{
	
color: #666;
font-size: 1.15em;
padding-bottom: .5em;


	}


.contact-info p, .contact-info a{
	
	
	font-color: #666;
	font-size: 1.15em;
	line-height: .85em;
	
	}
	
	
	

.bold{
	
	font-weight: 700;
	
	}

	
.news-date{
	
	
	}
	
.news-title{
	
	
	}		
	
	
.news-story{
	
	
	
	}	
	
	
	@media screen and (max-width: 830px){
		
		
	.contact-section{
	
	padding: .5em .5em;
	float: left;
	width: 50%;
	}
	
	.contact-title{
	
color: #666;
font-size: 2.5em;
padding-bottom: .5em;


	}


.contact-info p{
	
	
	font-color: #666;
	font-size: 1.5em;
	line-height: 1em;
	
	}	
		
		
		
		
		}
	
@media screen and (max-width: 641px){
		
		
	.contact-section{
	
	padding: .5em .5em;
	float: left;
	width: 50%;
	}	
		


.contact-title{
	
color: #666;
font-size: 1.15em;
padding-bottom: .5em;
text-align: left;


	}


.contact-info p{
	
	
	font-color: #666;
	font-size: 1.15em;
	line-height: 1.25em;
	text-align: left;
	
	}

.bold{
	
	font-weight: 700;
	
	}
	
		
		
		}
	
