@charset "utf-8";
/* CSS Document */

/*=================TRAINING=====================*/

html{
	font-size: 1em;
	
	
	}

body{
	
	background-color: black;
	background-image: url(../img/interior-background.jpg);
	backround-repeat: no-repeat;
	backgrouund-size: cover;
	
	font-family: 'Oswald', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
	padding-top: 2em;
	
	}
	


	


#title-bar{
	
	background-image: url(../img/title-bar.png);
	width: 100%;
	background-position: center;
	background-repeat: repeat-y;
	background-size: 100%;
	text-align: center;
	

	
	
	}
	

	
	
	
	
.title-header{
	font-family: 'Oswald', sans-serif;
	font-size: 1.75em;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	padding-top: 1.25em;
	
	
	
	
	}	
	
	
	
.title-sub-header{
	
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;
	font-weight: 100;
	color: white;
	padding-bottom: 1em;
	
	
	
	
	}	
	
	
	
#content-area{
	
	background-color: white;

	width: 80%;
	margin: 0em auto;
	overflow: hidden;
	
	
	
	}
	
	
	#section-1, #section-2{
		
		width: 100%;
		
		
		}
		
	#section-2{
		
		clear: both;
		
		
		}	
	
	
	.section-1-image{
		
		width: 18%;
		height: 120px;
		float: left;
		margin: 1em;
		
		background-color: gray;
		
		
		
		}
		
		
	.section-1-copy{
		
		width: 72%;
		float: right;
		margin: 1em;
		
		
		}	
		
	.section-2-copy{
		
		width: 70%;
		float: right;
		margin: 1.5em;
		
		}	
		
	h1, h2{
		
		font-family: 'Oswald', arial, verdana, sans-serif;
		font-weight: 400;
		font-size: 1.85em;
		color: #666;
		padding-bottom: 0em;
		margin-bottom: 0em;
		
		
		
		
		}	


.bullets{
	font-family: 'Oswald', arial, verdana, sans-serif;
	color: #666;
	font-weight: 300;
	font-size: 1em;
	line-height: 1.8em;
	margin-top: 0em;
	padding-top: 0em;
	margin-left: -2em;
	
	
	}
	
	
	
	@media only screen and (min-width: 641px) {
		
	body{
		
		
		}	
		
  .address-top{
  
  font-size: 1.15em;
  padding-top: .65em;
  width: 55%;
  float: left;
  clear: right;
  padding-left: 1em;
	
	
	}
	
	
	
	
		
nav li{
	display: inline;
	
	font-size: .8em;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	padding: 0em .5em;

	clear: right;
	
	}
		
nav{
	
	text-align: left;
	
	}		
		
		
	}
	
	@media only screen and (min-width: 768px){
		.title-header{
	font-family: 'Oswald', sans-serif;
	font-size: 1.75em;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	padding-top: 2.5em;
	
	
	
	
	}	
	
	
	
.title-sub-header{
	
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;
	font-weight: 100;
	color: white;
	padding-bottom: 1em;
	
	
	
	}
		
		
		
		
		}
		
		
	@media only screen and (min-width: 940px){
		
	.title-header{
	font-family: 'Oswald', sans-serif;
	font-size: 1.75em;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	padding-top: 3em;
	
	
	
	
	}	
	
	
	

		
		
		
		
		}		