@charset "utf-8";
/* CSS Document */

/*=================CHAMPIONS=====================*/

html{
	font-size: 1em;
	
	
	}

body{
	
	background-image: url(../img/interior-background.jpg);
	background-repeat: no-repeat;
	background-position:top;
	background-size: 100%;
	width: 100%;
	
	font-family: 'Oswald', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
	padding-top: 1em;
	
	}
	

.logo{
	
	margin: 0em;
	
	
	
	}

	.active-link{
		
		
		color: #37bdef;
		
		
		}


#title-bar{
	
	width: 100%;
	text-align: center;
	clear: both;
	overflow: hidden;
	margin-top: 1em;
	

	
	
	}
	

	
	
	
	
.title-header{
	font-family: 'Oswald', sans-serif;
	font-size: 1.75em;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	padding-top: 2em;
	
	
	
	
	}	
	
	
	
.title-sub-header{
	
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;
	font-weight: 100;
	color: white;
	padding-bottom: 1em;
	
	
	
	
	}	
	

#title-bar h2{
	
	padding: .35em 0em .75em 0em;
	margin: 0em;
	
	
	}	
	

	
#content-area{
	
	background-color: white;

	width: 85%;
	margin: 0em auto;
	overflow: hidden;
	
	
	
	}
	
	

	
	
.resources{
	
	background-color: black;
	padding: 1em 0em;
	clear: both;
	
	
	}	
	
	
	
@media only screen and (max-width: 560px){
	

	
	

	
	}	
	
	
	


@media only screen and (max-width: 641px) {	


	
	
	
	
	
	
	
	
}	
	
	
	@media only screen and (min-width: 641px) {
		

		
		
		
		
  .address-top{
  
  font-size: 1.15em;
  padding-top: .65em;
  width: 55%;
  float: left;
  clear: right;
  padding-left: 1em;
	
	
	}
	
#title-bar{
	
	background-image: url(../img/title-bar.png);
	width: 100%;
	background-position: center;
	background-repeat: repeat-y;
	background-size: 100%;
	text-align: center;
	overflow: hidden;
	clear: both;
	margin-top: .5em;
	

	
	
	}	

	


#title-bar h2{
	
	padding: .35em 0em .95em 0em;
	margin: 0em;
	
	
	}
	
	
	
	.title-header{

	padding-top: 1.5em;
	
	
	
	
	}	
	
	
	

	

		

		
		
		
	}
	
	@media only screen and (min-width: 768px){
		.title-header{
	font-family: 'Oswald', sans-serif;
	font-size: 1.75em;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	padding-top: 1.8em;
	
	
	
	
	}	
	
	
	
.title-sub-header{
	
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;
	font-weight: 100;
	color: white;
	padding-bottom: 1em;
	
	
	
	}
	
	#title-bar h2{
	
	padding: .35em 0em .95em 0em;
	margin: 0em;
	
	
	}
	
	
		
		
		.footer-links ul a {
		
		font-weight: 100;
		
		}
		
		
		
		.footer-links ul {
		
		font-size: .85em;
		
		}

		
		}
		
		
	@media only screen and (min-width: 940px){
		
	.title-header{
	font-family: 'Oswald', sans-serif;
	font-size: 1.75em;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	padding-top: 2.5em;
	
	
	
	
	}	
	
	
	.footer-links ul {
		
		font-size: .85em;
		
		}

		
		
		
		
		}	
		
		
	@media only screen and (min-width: 1200px){
		
	.title-header{

	padding-top: 3em;
	
	
	
	
	}	
	
	


		
		
		
		
		}	
		
		
			