@charset "utf-8";
/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
	background-color:#000;
    color: #fff;
    font-size: 1em;
    line-height: 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   MOBILE Author's custom styles
   ========================================================================== */


body{
	background-color: black;
	
	
	}
	
header{
	
	background-image: url(../img/nf-header-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 20%;
	width: 100%;
	
	
	
	
	}	
	
	
	.logo{
		
		clear: both;
		overflow: hidden;
		float: left;
		width: 50%;
		}
		
.logo img{
	
	width: 100%;
	padding-top: .65em;
	
	
	}	
	
nav{
	
	overflow: hidden;
	
	}	





.navbar-brand img{
	
	width:150%;


	
	}


	
	
	

	
	
.address-top p{
	text-align: center;
	font-size: 50%;
	
	
	}
	
.address-top h4{
	
	text-align: center;
	padding:2px;
	margin: 0px;
	
	}	
	

.social li a{
	
	
	}




	
.social-block ul li {
	display: inline;
	
	
	
		
}

	
.address-top{
	font-size:1.55em;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	width: 80%;
	float: left;
	clear: both;

	
	}
	
	
.mobile-address{
	color: white;
	font-family: 'Oswald', verdana, arial, sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	text-align: center;
	clear: both;
	overflow: hidden;
	padding-top: 0em;
	
	}
	
	
.mobile-social-block{
	
	margin: 0em 32%;
	width: 40%;
	
	}	
	
.mobile-social{
	
	overflow: hidden;
	clear: both;
	display: inline;


	}	
	
	
	
.mobile-social img{
	

width: 30%

	}		
	

a.mailto{
	
	
	color:white;
	text-decoration: none;
	
	}
	
	
a.mailto:hover{
	
	
	color:  #6dcff6;
	text-decoration: none;
	
	}
	
	
	
.mailto a:focus{
	
	color: white;
	
	}
	
	
	

li{
	
	
	list-style-type: none;
	
	
	
	}
	




	
ul{
	
	clear: both;
	}
	
	a:focus, a:hover{
		
		color: transparent;
		
		
		}

	
nav li{
	text-align: center;
	font-size: 1.15em;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	



	}	
	

	
	nav ul li a:link {
	color: white;
	font-weight: 400;
	text-align: center;
	margin: .15em .15em;

		}
	
	nav ul li a:hover {
		color: #6dcff6;
		text-decoration: none;
		}
		
		
	nav li a:visited {
		
	color: white;

		}	
		
	nav li a:active {
		

		}
	

#carousel{
	display: none;
	
	}
	

	
/* Carousel*/


#carousel{
	
	width: 100%;
	max-width: 100%;
	height: auto;
	display: inherit;
	
	}
	
.carousel-caption{
	
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 1.25em;
	padding: 0%;
	margin: .5%;
	
	}	
	
ol.carousel-indicators{
	
	text-align: center;
	
	}	
ol{

	
	
	}	

.slider-center{
	
	margin: auto;
	
	}
	
	



/* Fade transition for carousel items */
.carousel .item {
    left: 0 !important;
      -webkit-transition: opacity 1s; /*adjust timing here */
         -moz-transition: opacity 1s;
           -o-transition: opacity 1s;
              transition: opacity 1s;
}
.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}
/* Fade controls with items */
.next.left,
.prev.right {
    opacity: 1;
    z-index: 1;
}
.active.left,
.active.right {
    opacity: 0;
    z-index: 2;
}

#hero{
	
	background-image:url(../img/nf-hero-yami.jpg);
	background-repeat: no-repeat;
	background-color: #000;
	background-position: center;
	padding-top: 150px;
	width: 100%;
	overflow: hidden;
	margin: 0px;
	
	
	
	
	}

.mobile-hero{
	
	
	display: none;
	
	
	}

#hero-copy{
	width: 100%;
	position: relative;
	top: .15em;
    right:-110px;
	

		
	}
	
	
#hero-copy p{
	
	margin: 0em;
	padding: 0em;
	line-height: 1.25em;
	
	
	}



.line-1{
	
	
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 90%;
	padding: 0%;
	color: white;

	
	
	}
	
.line-2{
	
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 110%;
	color: white;



	
	}
	
.line-3{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 200%;
	color: white;
	line-height: 1em;



	
	}
	
.line-4{
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 62%;
	color: white;
	margin: 0%;
	padding: 0%;
	line-height: .5em;




	
	}

span.line-4{
	
		line-height: 0em;

	
	}	
	


.news{
	
	text-align: center;
	background-image:url(../img/news-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	display: inline-block;

	
	
	
	
	
	}


.news h1{
	font-family: 'Oswald', sans-serif;
	font-size: 1.75em;
	font-weight: 700;
	color: white;
	
	
	}
	
.news h2{
	font-family: 'Open Sans Condensed', sans-serif;
	color: #ccc;
	font-weight: 100;
	font-size: 1.5em;
	padding: 0em 0em 1em 0em;
	margin: 0% 5%;
	
	
	
	}	
	
#button{
	height: 4em;
	}	
	
.button{
	
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 1.35em;
	text-transform: uppercase;
	text-decoration: none;
	width: 90%;
	padding: .5em 1.5em;
	overflow: hidden;
	clear: both;
	margin: 1em;
}
	.button{
	-moz-box-shadow:inset 1px 1px 27px 0px #cf866c;
	-webkit-box-shadow:inset 1px 1px 27px 0px #cf866c;
	box-shadow:inset 1px 1px 27px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c71111), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #c71111 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #c71111 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #c71111 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #c71111 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #c71111 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c71111', endColorstr='#bc3315',GradientType=0);
	background-color:#c71111;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;

	cursor:pointer;

	padding:7px 24px;
	text-shadow:0px 1px 16px #854629;
}
.button:hover {
	color: silver;
	text-decoration: none;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #c71111));
	background:-moz-linear-gradient(top, #bc3315 5%, #c71111 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #c71111 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #c71111 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #c71111 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #c71111 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#c71111',GradientType=0);
	background-color:#00aeef;
}
.button:active {
	position:relative;
	top:1px;
	color:white;
}

	
.photo-gallery{
	
	background-image: url(../img/gallery-home-bg.jpg);
	background-size:cover;
	height: 553px;
	background-repeat: no-repeat;
	background-position: center;

	
}	
	
	
.gallery-block{
	
	padding-top: 1.25em;
	
	}
	
	
	
	
.gallery-img{
	
	width: 100%;
	height:100%;
	margin: auto;
	float: left;
	background-repeat: no-repeat;


	
	
	}
	

	#photo-1{
	background-image:url(../img/yami.jpg);
	background-size: 100%;
	padding-top: 80%;
	
	}
	
	#photo-2{
	background-image:url(../img/thomas.jpg);
	background-size: 100%;
	background-position: 30% 10%;

	padding-top: 100%;




	
	}
	
	#photo-3{
	background-image:url(../img/carmen.jpg);
	background-size: 100%;
	background-position: 0% 50%;
	padding-top: 100%;



	
	}
	
	#photo-4{
	background-image:url(../img/dan.jpg);
	background-size: 150%;
	background-position: 50% 80%;
	padding-top: 80%;


	
	}
	
	#photo-5{
	background-image:url(../img/travis.jpg);
	background-size: 100%;
	background-position: 20% 40%;
	padding-top: 100%;

	
	}
	
	
	#photo-6{
	background-image:url(../img/melody.jpg);
	background-size: 100%;
	background-position: 0% 50%;
	padding-top: 100%;

	
	}
	
	
	#photo-7{
	background-image:url(../img/mike.jpg);
	background-size: 150%;
	background-position: 30% 22%;
	padding-top: 100%;



	
	
	}
	
	#photo-8{
	background-image:url(../img/tonia.jpg);
	background-size:220%;
	background-position: 25% 25%;
	padding-top: 100%;

	}
	
	.gray-block{
		
			background-image:url(../img/footer-bg-2.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			padding-top: 8em;
	
		
		}
	
	
	footer{
		
		
		background-color: #000;
		width: 100%;
		
		
		}
		
		

	
		
	img.footer-logo{
		margin: auto 33%;
		width: 40%;
		clear: both;
		}	
		
	.footer-logo{
		
		padding: 2%;
	
		}

		
		
		
		
		
	footer{
		
		
		width: 100%;
		margin: 0px;
		background-image:url(../img/footer.jpg);
		background-position: cover;
		padding: 4em 0em;

		
		}	
	
		
		
	.footer-links li{
		
	display: inline;
	font-size: .85em;
	padding: 0em .35em;
		
		
		}
	
	
	
		#footer-links{
		width: 100%;
		text-align: center;
		
		}	

		
		
	footer a:link{
	 text-decoration: none;
	 font-family: 'Oswald', arial, verdanca, sans-serif;
	 text-transform: uppercase;
	 font-weight: 300;
	 font-size: 1em;
	 color: white;
	 
	}
	
	
	 footer a:visited{
	 text-decoration: none;
	
	 color: white;
	 
	}
	
	footer a:hover{
	 text-decoration: none;
	
	 color: #6dcff6;
	 
	}
	
	footer a:active{
	
	 
	}
	
		

		
.social-footer img{
	width:5%;
	display: inline;
	
	
	}

#social-footer ul li{
	display: inline;

	
	}
	

	
	
.copyright{
	
	font-family: 'Oswald', arial, verdana, sans-serif;
	font-weight: 100;
	text-align: center;
	background-image:url(../img/news-bg.jpg);
	background-position: 100%;
	background-repeat: no-repeat;
	color: white;
	width: 100%;
	padding: 3em;
	
	}	
	

	
.copyright p{
	
	padding-top: 1em;
	font-family: 'Oswald', arial, verdana, sans-serif;
	
	}	
	
.npc-logo img, .ifbb-logo img, .npc-oregon-logo img, .md-logo img{
	width: 50%;
	padding-top: 1em;
	padding-bottom: 1em;
	
	
	}	
	

.npc-logo a, .ifbb-logo a, .npc-oregon-logo a, .md-logo a{
	font-family: 'Opens Sans', arial, verdana, sans-serif;
	color:white;
	margin: auto 25%;
	


	
	
	}	
	
	.footer-copy{
		
		
		display: none;
		
		}

		
		
	

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 560px) {


#hero-copy{
	
	display: none;
	
	
	}
	
	
	/* Dropdown*/
	
	
	
	
	
	
/*Carousel Caption*/	



.address{
	
	color: white;
	font-size: .75em;
	
	
	}
	
	
.social-block, .social-mobile-block{
	
	
	padding: 0em;
	margin: 0em;
	display: inherit;
	
	
	}
	
	
	
	
	
	
.mobile-hero{
	
	
	display: inherit;
	float: right;
	position: relative;
	top: .15em;
	right: -1em;
	
	
	width: 70%;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700px;

	}

.mobile-h2{
	font-family: 'Oswald', arial, verdana, sans-serif;
	font-weight: 700;
	font-size: 1.25em;
	color: white;
	margin: 0em;
	padding: 0em;
	text-align: center;
	
	}
	
.mobile-h3{
	font-family: 'Oswald', arial, verdana, sans-serif;
	text-align: center;
	font-weight: 300;
	font-size: .7em;
	color: white;
	margin: 0em;
	padding: 0em;
	
	}
	
	
	

}


@media only screen and (max-width: 641px){
	
	
header{
	
	background-image:url(../img/interior-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0px -45px;
	overflow: hidden;
	width: 100%;
	
	
	
	
	}	
		
	
  .logo{
  

  width: 40%;
  padding: .5em 0em 0em 1em;
  text-align: center;
 
		}
		
		
		
.logo img{
	
	width: 100%;
	
	
	}
	
	
	
	
	
	
	.address-top{
		
		font-size: 1.15em;
		
		
		}
		
	.mobile{
		
	color: white;
	font-weight: 300;
	font-family: 'Oswald', arial, verdana, sans-serif;	
		}
		
		
	.social-block{
		
		text-align: center;
		padding: 0em;
		margin: 0em;
		
		
		}	
		
		
		
		
	.social-block-mobile{
		display: block;
		
		}	
		
	.social-mobile img{
		
		
		width: 5%;
		
		}	
		
	
	.social-block{
		
		display: none;
		
		}
		
		
	
	
	
		
	.dropbtn {
	background-image:url(../img/news-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: .5em;
	color: white;
	text-transform: uppercase;
	font-family: 'Oswald', arial, verdana, sans-serif;
	font-weight: 700px;
    padding: .75em  2em;
    font-size: 1.35em;
	width: 100%;
    border: none;
    cursor: pointer;
	margin-top: 1em;
	
	
}

.dropdown {
    position: relative;
    display: inline-block;
	float: left;
	padding:  0em 0em 0em 1.5em;
}

.dropdown-content {
    display: none;
	margin-left: -5em;
    position: absolute;
	z-index: 100;
    background-color: #f9f9f9;
    width: 300%;
}

.dropdown-content a {

	text-align: left;
	padding: .85em;
	font-size: 1.65em;
	font-weight: 300;
	font-family: 'Oswald', verdana, sans-serif, arial;
    color: white;
    text-decoration: none;
    display: block;
	width: 150%;
	background-image:url(../img/news-bg.jpg);
	background-position: cover;
	border-top: 1px silver dotted;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
	
	
	.dropbtn{
		
		display: none;
		
		
		}
	
	
	
	
.address-email{
	
	color: white;
	font-family: 'Oswald', verdana, arial, sans-serif;
	font-weight: 100;
	font-size: 1em;
	text-align: center;
	clear: both;
	padding-top: .55em;
	line-height: 1em;
	width: 100%;
	
	
	
	
	}	
	
.mobile-email{
	
	font-size: 1.35em;
	padding-bottom: .5em;
	
	}	
	
	
	
	.show{
		
		display: block;
		
		
		}
	
	
	.social-icon-white{
		
		clear: both;
		overflow: hidden;
		display: inline;
		padding: 0em;
		margin: 0em;
		
		}
		
	.social-icon-white a{
		
		float: left;
	
		width: 9%;
		text-align: center;
		


		
		}	
	
	.social-icon-white img{
		
		width: 100%;
		padding-top:1.5em;
		
		
		
		
		
		
		}
	
	
	#toggle-nav{
		
		
		display: block;
		position: absolute;
		top: 15px;
		right: 20px;
		z-index: 555;
		padding: .35em;
		width: 25%;
		background-image: url(../img/footer-bg.jpg);
		background-position: 100%;
		color: white;
		font-family: 'Oswald', arial, verdana, sans-serif;
		font-weight: 100;
		font-size: 1.35em;
		text-align: center;
		border-radius: .25em;
		
		
		
		
		}	
		
		
		
		#toggle-nav:link{
		
		
		text-decoration: none;
		
		}	
			
		
	#toggle-nav:hover{
		
		
		text-decoration: none;
		color: red;
		
		}	
		
		
		#toggle-nav:active{
		
		
		text-decoration: none;
		
		}	
		
		
		#toggle-nav:visited{
		
		
		text-decoration: none;
		
		}	
		
		
	.border-remove{
		
		
		border: none;
		
		}	
		
		
	nav{
		
		background-color: #000;
		background-image: url(../img/news-bg.jpg);
		background-size: cover;
		background-repeat: no-repeat;
	
		}	
	
	
	nav ul li a{
		
		width: 100%;
		
		}
	
	nav ul li{
		
		
		margin-left: -5%;
		width: 100%;
		
		
		
		}
	
	

	
	
	nav li{
	
	font-size: 1.35em;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	padding: .25em 0em;
	border-bottom: 1px dotted #3F3D3D;
	text-align: center;
	width: 100%;
	

	
	}
	

	
	
	nav ul li a:link{
		
		font-weight: 700;
	
		
		
		
		}
	
	nav ul li a:hover {
    color: #6dcff6;
	
    font-weight: 700;
    text-decoration: none;
    width: 100%;
    padding: 0% 0%;
}
	

	nav ul li a:visited {
   
    text-decoration: none;
   
}
	
	nav ul li a:active {
 
    text-decoration: none;
   
}

.social-block{
	
	
	padding-top: .5em;
	
	}


	
ul{
	
	display: none;
	}
	
	
	
.carousel-caption{
	
	padding-bottom: .5em;
	
	}
	
	
	
.news h2{
	
	font-size: 1.35em;
	
	
	
	
	}	
	

	
	}




   
@media only screen and (min-width: 641px) {
    /* Style adjustments for viewports that meet the condition */   
	
	
	header{
		
	background-image: url(../img/nf-header-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	overflow: hidden;
	
		
		
		}
	
   
  
	  
	 .logo img{
		 
		 width: 100%
		 
		 
		 } 
 
  
  .logo{
	
	width: 18%;
	float: left;
	overflow: hidden;
	padding: .5em;
	
	
	
	}
	
	
.mobile-social-block{
	display: none;
	
	}	

.mobile-address{
	
	display:none;
	
	}	
	
	
.social-block{
	list-style-type: none;
	width: 82%;
	float: right;
	padding-top: .5em;


	

	
	}	
	
	
	
	
	
.social-block ul li{
	
		display: inline;
	
	
	}	
	
	
.social-block ul{
	
	
	}	
	
.social img{
	
	width: 6%;
	padding: .1em;

	
	}	
	
	
	
.social-icon-white{
	
	
	display: none;
	
	
	}	
	


a.address.mobile{
	
	color:white;
	font-size: 1em;

	
	
	
	}

a.address.mobile:hover{
	
	color:white;
	
	
	
	}



	
.address-email{
	
	
	display: none;
	
	}	
	
	.address{
		
		font-weight: 300;
		color: white;
		font-family: 'Oswald', arial, verdana, sans-serif;
		font-size: 1em;
		
		
		}
		
		.address:hover{
		
		padding-left: 0em;
		font-weight: 300;
		color: white;
		font-family: 'Oswald', arial, verdana, sans-serif;
		text-decoration: none;
		
		}	
		
		
		
		
/*================ Dropdown================= */		
	
.dropdown{
	
	display: none;
	
	
	}
	
	
	
	
#toggle-nav{
	
	display: none;
	
	
	}	
	
	
nav{
	text-decoration: none;
	list-style-type: none; 
	width: 80%;
	float: right;
	display: inherit;
	overflow: hidden;
	
	
	
	
	
	}
	
	
nav li{
	
	display: inline;
	padding: .10em;
	font-size: .90em;
	overflow: hidden;
	
	
	}	
	
	
	nav li a:link{
	

	
	
	}	
	
	nav li a:active{
	
	
	}	
	
	
	nav ul li a:hover{
	

	}	
	
	
	
	
	
	

  
  
#hero-copy{
	position: relative;
	top: -30px;
    right: -120px;
	width: 100%;
	

	
		
	}
	




.line-1{
	
	
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.15em;
	color: white;
	line-height: 0em;

	
	
	}
	
.line-2{
	
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 1.15em;
	color: white;
	line-height: .95em;



	
	}
	
.line-3{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 2.85em;
	color: white;
	line-height: .95em;



	
	}
	
.line-4{
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: .85em;
	color: white;
	line-height: .1em;




	
	}

span.line-4{
	
		line-height: 0em;

	
	}
	
	
.news{
	
	
	
	}	
	
  .left, .right, carousel-control{
	  
	  
	  margin: 0em;
	  padding: 0em;
	  
	  }
	.controls{
	margin: 0em;
	padding: 0em;
	  
		
		
		}
		

	

		

		
		
	footer a:link{
	 text-decoration: none;
	 font-family: 'Oswald', arial, verdana, sans-serif;
	 text-transform: uppercase;
	 font-weight: 100;
	 font-size: 1.1em;
	 color: white;
	 vertical-align: middle;
	 
	}
	
	
	 footer a:visited{
	 text-decoration: none;
	
	 color: white;
	 
	}
	
	footer a:hover{
	 text-decoration: none;
	
	 color: #6dcff6;
	 
	}
	
	footer a:active{
	
	}
	
		
div#social-footer{
	width: 15%;
	float: right;
	margin: 0em;
	margin-right: .75em;


	}
		
#social-footer img{
	width: 20%;
	

	
	}

#social-footer ul li{
	display: inline;
	

	
	}
	
	
	
	
	footer{
		
		display:inherit;
		
		}
		

.resources{
	
	background-image: none;

	
	}
		
		
.npc-logo, .ifbb-logo, .npc-oregon-logo, .md-logo{
	width: 50%;
	float: left;
	padding: 3em;
	
	}	
			
		
.npc-logo img, .ifbb-logo img, .npc-oregon-logo img, .md-logo img{
	width: 100%;
	float: left;
	
	
	}	
	

.npc-logo a, .ifbb-logo a, .npc-oregon-logo a, .md-logo a{
	font-family: 'Oswald', arial, verdana, sans-serif;
	font-weight: 300;
	color:white;
	font-size: 2em;	
	width: 100%;
	
	
	
	}	

	.copyright{
		
		background-image:url(../img/news-bg.jpg);
		background-size: cover;
		
		
		}
	
			
	.copyright p{
	
	font-family: 'Oswald', arial, verdana, sans-serif;
	text-align: center;
	font-size: 1.5em;
	font-weight: 300;
	color: white;
	clear: both;


	
	
	}	
		

}	



@media only screen and (min-width: 768px) {
    /* Style adjustments for viewports that meet the condition */
	
	body{
	background-color: black;
	padding-top: .125em;
	
	
	}

header{
	
	border: none;
	background-image:url(../img/nf-header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	overflow: hidden;
		
	
	
	
	
	}	
	
.navbar-brand{
	
width: 9em;
float: left;
clear: both;



	}
	


	
	
.collapse-menu{
	width: 100%;
	font-size: .5em;
	text-transform: uppercase;
	

	}	
	
	
div#bs-example-navbar-collapse-1.collapse.navbar-collapse{
	

	border: none;
	margin: 0px 1px;
	paddding: 0px 1px;
	font-size: .75em;
	
	
	}	
	
	
.navbar-default .navbar-toggle .icon-bar {
background-color: red;
border: 1px solid red;
height: 3%;
}	
	
	
.navbar-toggle{
	border-color: red;
	border: none;
	
	
	}	
	

	
.address-top h4{
	
	text-align: center;
	
	
	float: right;
	
	}	
	

	  
	 .logo img{
		 
		 width: 90%
		 
		 
		 } 
 
  
  .logo{
	
	width: 20%;
	float: left;
	overflow: hidden;
	padding: .5em;
	
	
	
	}
	
	
.social-block{
	list-style-type: none;
	width: 80%;
	float: right;
	
	
	

	
	}	
	
	
.social-block ul li{
	
		display: inline;
		padding-top: .5em;
	
	
	}	
	
	
.social-block ul{
	padding-bottom: .5em;
	
	}	
	
.social img{
	
	width: 6%;
	padding: .1em;

	
	}	
	
	
	.address{
		
		font-weight: 300;
		color: white;
		font-family: 'Oswald', arial, verdana, sans-serif;
		
		
		}
		
	
	a.address.mobile{
	
	color:white;
	font-size: 1em;

	
	
	
	}

a.address.mobile:hover{
	
	color: white;
	
	
	
	}	
a:hover, a:focus{

color: white;

}

	
	
nav{
	text-decoration: none;
	list-style-type: none; 
	width: 80%;
	float: right;
	
	
	
	
	
	}
	
	
nav li{
	
	display: inline;
	padding: .15em;
	font-size: 1em;
	overflow: hidden;
	
	
	}	
	
	


	
	.link-block{
	
	width: 50%;
	float: left;
	overflow: hidden;
	margin: auto;
	border: 1px solid black;
	clear: right;

	
	
	}	


	
	
	


 



	


	



	


	

	
/* Carousel*/


#carousel{
	
	width: 100%;
	max-width: 100%;
	display: inherit;
	
	}
	
.carousel-caption{
	
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	text-align: center;
	font-size: 2em;
	padding-bottom: 1em;
	
	}	
	
ol.carousel-indicators{
	
	text-align: center;
	
	}	
ol{

	
	
	}	

.slider-center{
	
	margin: auto;
	
	}


/* Fade transition for carousel items */
.carousel .item {
    left: 0 !important;
      -webkit-transition: opacity 1s; /*adjust timing here */
         -moz-transition: opacity 1s;
           -o-transition: opacity 1s;
              transition: opacity 1s;
}
.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}
/* Fade controls with items */
.next.left,
.prev.right {
    opacity: 1;
    z-index: 1;
}
.active.left,
.active.right {
    opacity: 0;
    z-index: 2;
}
#hero{
	
	background-image:url(../img/nf-hero-yami.jpg);
	background-repeat: no-repeat;
	background-color: #000;
	background-position: center;
	padding-top: 150px;
	width: 100%;
	overflow: hidden;
	margin: 0px;
	
	
	
	
	}

#hero-copy{
	position: relative;
	top: -1em;
    right:-150px;


	
		
	}
	
	
#hero-copy p{
	
	margin: 0px;
	
	
	}



.line-1{
	
	
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.35em;
	color: white;
	line-height: 1em;

	
	
	}
	
.line-2{
	
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 1.25em;
	color: white;
	line-height: .5em;


	
	}
	
.line-3{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 3.25em;
	color: white;
	line-height: 1em;


	
	}
	
.line-4{
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: white;



	
	}


.news{
	
	text-align: center;
	background-image:url(../img/news-bg.jpg);
	background-repeat: no-repeat;
	max-width: 100%;
	width: 100%;
	padding-top: .45em;
	paddting-bottom: .45em;
	margin: auto;
	
	
	}


.news h1{
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	font-weight: 700;
	margin-top: .15em;
	color: white;
	
	
	}
	
.news h2{
	font-family: 'Open Sans Condensed', sans-serif;
	color: #ccc;
	font-weight: 100;
	font-size: 1.5em;
	margin-top: 0em;
	
	
	
	}	
	
.button{
	
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	text-transform: uppercase;
	text-decoration: none;
	width: 90%;
}
	.button{
	-moz-box-shadow:inset 1px 1px 27px 0px #cf866c;
	-webkit-box-shadow:inset 1px 1px 27px 0px #cf866c;
	box-shadow:inset 1px 1px 27px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c71111), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #c71111 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #c71111 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #c71111 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #c71111 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #c71111 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c71111', endColorstr='#bc3315',GradientType=0);
	background-color:#c71111;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;

	cursor:pointer;

	padding:7px 24px;
	text-shadow:0px 1px 16px #854629;
}
.button:hover {
	color:black;
	text-decoration: none;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #c71111));
	background:-moz-linear-gradient(top, #bc3315 5%, #c71111 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #c71111 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #c71111 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #c71111 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #c71111 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#c71111',GradientType=0);
	background-color:#00aeef;
}
.button:active {
	position:relative;
	top:1px;
	color:silver;
}

	
.photo-gallery{
	
	background-image: url(../img/gallery-home-bg.jpg);
	background-size:cover;
	height: 553px;
	background-repeat: no-repeat;
	background-position: center;

	
}	
	
	
.gallery-block{
	
	padding-top: 1.25em;
	
	}
	
	
	
	
.gallery-img{
	
	width: 50%;
	height: 50%;
	margin: auto;
	float: left;
	background-repeat: no-repeat;


	
	
	}
	
	#photo-1, #photo-2, #photo-3, #photo-4, #photo-5, #photo-6, #photo-7, #photo-8{
		
	padding-top: 50%;

		}

	#photo-1{
	background-image:url(../img/yami.jpg);
	background-size: 100%;
	
	}
	
	#photo-2{
	background-image:url(../img/thomas.jpg);
	background-size: 100%;
	background-position: 30% 10%;





	
	}
	
	#photo-3{
	background-image:url(../img/carmen.jpg);
	background-size: 100%;
	background-position: 40% 50%;



	
	}
	
	#photo-4{
	background-image:url(../img/dan.jpg);
	background-size: 200%;
	background-position: 50% 60%;


	
	}
	
	#photo-5{
	background-image:url(../img/travis.jpg);
	background-size: 100%;
	background-position: 20% 40%;

	
	}
	
	
	#photo-6{
	background-image:url(../img/melody.jpg);
	background-size: 100%;
	background-position: 0% 50%;

	
	}
	
	
	#photo-7{
	background-image:url(../img/mike.jpg);
	background-size: 150%;
	background-position: 30% 22%;



	
	
	}
	
	#photo-8{
	background-image:url(../img/tonia.jpg);
	background-size:220%;
	background-position: 25% 25%;

	}
	
	.gray-block{
		
			background-image:url(../img/footer-bg-2.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			padding-top: 8em;
	
		
		}
	
	
footer{
		
		width: 100%;
		margin: 0px;
		background-image:url(../img/footer.jpg);
		background-size: cover;
		padding: 2em 0em;
	

		
		}
		
	img.footer-logo{

		float: left;
		width: 12%;
		clear: both;
		padding: 0em;
		margin: 0em 0em 0em 3em;
		}	
		
	.footer-logo{
		
		padding: 2%;
		width: 30%;
	
		}

	
		
div#social-footer{
	width: 15%;
	float: right;
	margin: 0em;


	}
		
#social-footer img{
	width: 20%;
	

	
	}

#social-footer ul li{
	display: inline;
	

	
	}
	
			
.npc-logo, .ifbb-logo, .npc-oregon-logo, .md-logo{
	width: 25%;
	float: left;
	padding-top: 0em;
	
	}	
			
		
.npc-logo img, .ifbb-logo img, .npc-oregon-logo img, .md-logo img{
	width: 130%;
	float: left;
	
	
	}	
	

.npc-logo a, .ifbb-logo a, .npc-oregon-logo a, .md-logo a{
	font-family: 'Oswald', arial, verdana, sans-serif;
	font-weight: 300;
	color:white;
	font-size: 2em;	
	width: 100%;
	
	
	
	}
	
	
	
	
.copyright{
	
	font-family: 'Oswald', arial, verdana, sans-serif;
	text-align: center;
	font-size: .75em;
	font-weight: 300;
	color: white;
	clear: both;
	padding-top: 1em;
	
	
	}	
	
	footer{
		
		display:inherit;
		
		}
		

   
	

}


@media only screen and (min-width: 940px) {
    /* Style adjustments for viewports that meet the condition */
	
	
/* ==================================NAVIGATION=============================== */

body{
	background-color: black;
	padding-top: .1em;	
	
	}
	
	

		
		.address:hover{
		
		padding-left: 0em;
		font-weight: 300;
		color: white;
		font-family: 'Oswald', arial, verdana, sans-serif;
		text-decoration: none;
		
		}	


	
	
nav{
	text-decoration: none;
	list-style-type: none; 
	width: 80%;
	float: right;
	
	
	
	
	
	}
	
	
nav ul li a{
	
	display: inline;
	padding: .35em;
	font-size: 1.2em;
	overflow: hidden;
	color: #fff;
	
	
	}	
	
	

		
		

	
	
		

	





	
/* Carousel*/



#carousel{
	display: inherit;
	
	}
#carousel{
	
	width: 100%;
	max-width: 100%;

	}
	
.carousel-caption{
	
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	text-align: center;
	font-size: 2em;
	
	}	
	
ol.carousel-indicators{
	
	text-align: center;
	
	}	
ol{

	
	
	}	

.slider-center{
	
	margin: auto;
	
	
	}


/* Fade transition for carousel items */
.carousel .item {
    left: 0 !important;
      -webkit-transition: opacity 1s; /*adjust timing here */
         -moz-transition: opacity 1s;
           -o-transition: opacity 1s;
              transition: opacity 1s;
}
.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}
/* Fade controls with items */
.next.left,
.prev.right {
    opacity: 1;
    z-index: 1;
}
.active.left,
.active.right {
    opacity: 0;
    z-index: 2;
}
#hero{
	
	background-image:url(../img/nf-hero-yami.jpg);
	background-repeat: no-repeat;
	background-color: #000;
	background-position: center;
	padding-top: 150px;
	width: 100%;
	overflow: hidden;
	margin: 0px;
	
	
	
	
	}

#hero-copy{
	width: 100%;
	
	float: right;
	position: relative;
	top: -20px;
    right:-190px;

	
		
	}
	
#hero-copy p{
	
	margin: 0%;
	padding: 0%;
	
	
	}



.line-1{
	
	
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.5em;
	color: white;
	line-height: 1em;
	padding: 0%;
	margin: 0%;
	
	
	}
	
.line-2{
	
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 2.15em;
	color: white;
	line-height: 1em;


	
	}
	
.line-3{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 3.75em;
	color: white;
	line-height: 1em;


	
	}
	
.line-4{
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 1.15em;
	color: white;
	line-height: 1em;



	
	}


.news{
	
	text-align: center;
	background-image:url(../img/news-bg.jpg);
	background-repeat: no-repeat;
	max-width: 100%;
	width: 100%;
	padding-bottom: .45em;
	margin: auto;
	
	
	}


.news h1{
	font-family: 'Oswald', sans-serif;
	font-size: 2.25em;
	font-weight: 700;
	margin-top: 1em;
	color: white;
	padding: 0%;
	line-height: 2%;
	
	
	}
	
.news h2{
	font-family: 'Open Sans Condensed', verdana, arial sans-serif;
	color: #ccc;
	font-weight: 100;
	font-size: 2em;
	padding: 0em 1em;
	
	
	
	}
	
	
#button{
	
	height: 6em;
	
	}	

	
		
	
.button{
	
	display: inline-block;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	text-transform: uppercase;
	text-decoration: none;
	width: 20%;
}
	.button {
	-moz-box-shadow:inset 1px 1px 27px 0px #cf866c;
	-webkit-box-shadow:inset 1px 1px 27px 0px #cf866c;
	box-shadow:inset 1px 1px 27px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c71111), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #c71111 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #c71111 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #c71111 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #c71111 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #c71111 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c71111', endColorstr='#bc3315',GradientType=0);
	background-color:#c71111;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;

	cursor:pointer;

	padding:7px 24px;
	text-shadow:0px 1px 16px #854629;
}
.button:hover {
	color:black;
	text-decoration: none;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #c71111));
	background:-moz-linear-gradient(top, #bc3315 5%, #c71111 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #c71111 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #c71111 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #c71111 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #c71111 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#c71111',GradientType=0);
	background-color:#00aeef;
}
.button:active {
	position:relative;
	top:1px;
	color:silver;
}

	
.photo-gallery{
	
	background-image: url(../img/gallery-home-bg.jpg);
	background-size:cover;
	height: 553px;
	background-repeat: no-repeat;
	background-position: center;
	clear: both;
	overflow: hidden;
	
}	
	
	
.gallery-block{
	
	margin: auto;
	width: 62.50em;
	padding-top: 1.25em;
	overflow: hidden;
	clear: both;

	
	}
	
	
	
	
.gallery-img{
	
	width: 15em;
	height:15em;
	margin: auto;
	float: left;
	background-repeat: no-repeat;

	
	
	}
	

	#photo-1{
	background-image:url(../img/yami.jpg);
	background-size: 15.625em;
	padding-top: 15em;
	
	}
	
	#photo-2{
	background-image:url(../img/thomas.jpg);
	background-size: 15.625em;
	padding-top: 15em;
		

	
	}
	
	#photo-3{
	background-image:url(../img/carmen.jpg);
	background-size: 15.625em;
	background-position: 30% 50%;
	padding-top: 15em;



	
	}
	
	#photo-4{
	background-image:url(../img/dan.jpg);
	background-size: 30em;
	background-position: 60% 70%;
	padding-top: 15em;

	
	}
	
	#photo-5{
	background-image:url(../img/travis.jpg);
	background-size: 15.625em;
	background-position: 35%;
	padding-top: 15em;

	}
	
	
	#photo-6{
	background-image:url(../img/melody.jpg);
	background-size: 15.625em;
	background-position: 0% 50%;
	padding-top: 15em;

	}
	
	
	#photo-7{
	background-image:url(../img/mike.jpg);
	background-size: 25em;
	background-position: 30% 22%;
	padding-top: 15em;

	
	}
	
	#photo-8{
	background-image:url(../img/tonia.jpg);
	background-size: 38em;
	background-position: 25% 25%;
	padding-top: 15em;

	}
	
footer{
		
		width: 100%;
		padding: 2em;
		background-image:url(../img/footer.jpg);
		background-size: cover;
		background-repeat: repeat-x;
	

		
		}
		
	img.footer-logo{

		float: left;
		width: 12%;
		clear: both;
		padding: 0em;
		margin: 0em;
		}	
		
	.footer-logo{
		
		width: 30%;
	
		}

		
		
		
		
		
		
	
	
		
div#social-footer{
	width: 15%;
	float: right;
	margin: 0em;


	}
		
#social-footer img{
	width: 30%;
	margin: 0em 0em;
	

	
	}

#social-footer ul li{
	display: inline;
	

	
	}
	
	
.npc-logo, .ifbb-logo, .npc-oregon-logo, .md-logo{
	width: 25%;
	float: left;
	padding-top: 0em;
	
	}	
			
		
.npc-logo img, .ifbb-logo img, .npc-oregon-logo img, .md-logo img{
	width: 100%;
	float: left;
	
	
	}	
	

.npc-logo a, .ifbb-logo a, .npc-oregon-logo a, .md-logo a{
	font-family: 'Oswald', arial, verdana, sans-serif;
	font-weight: 300;
	color:white;
	font-size: 2em;	
	width: 100%;
	
	
	
	}
		
	
.copyright{
	
	font-family: 'Oswald', arial, verdana, sans-serif;
	text-align: center;
	font-size: .75em;
	font-weight: 300;
	color: white;
	
	
	}	
	
	
}
		
	
	
		
	



@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
/* CSS Document */

